.list{
	width: 960px;
	margin: 0 auto;
}
.list-text{
	padding: 20px 20px 20px;
}
.list-text:first-child{
	margin-top: 50px
}
.list-text:nth-child(7){
	margin-bottom: 50px;
}
.list-text:nth-child(odd){
	background-color: gray;
}
main{
	width: 960px;
	margin: 0 auto;
}
.main-box{
	background-color: yellow;
	height: 200px;
	width: 30%;
	float: left;
}
.main-box:nth-child(1){
	background-color: orange;
}
.main-box:nth-child(2){
	margin: 0 5%;
}
.main-box:nth-child(4){
	margin: 40px 0;
}
.main-box:nth-child(5){
	margin: 40px 5%;
	background-color: orange;
}
.main-box:nth-child(6){
	margin: 40px 0;
}
.main-box:nth-child(8){
	margin: 0 5%;
}
.main-box:nth-child(9){
	background-color: orange;
	margin-bottom: 50px;
}